.G-color-white {
    color: #fff !important;
}

.G-color-bule {
    color: #4393e5;
}

.G-color-333 {
    color: #333;
}

.G-color-000 {
    color: 000;
}

.G-color-666 {
    color: #666;
}
.G-color-e6{
    color: #e6e6e6;
}
.G-color-999 {
    color: #999;
}

.G-color-f13a {
    color: #f13a3a
}

.G-color-f36e {
    color: #f36e20
}

.G-color-orange {
    color: #ff7d0a;
}

.G-color-red {
    color: #e54343 !important;
}

.G-color-ccc {
    color: #ccc !important;
}


/* 背景颜色 */

.G-bg-bule {
    background-color: #4393e5;
}

.G-bg-red {
    background-color: #e54343 !important;
}

.G-bg-orange {
    background-color: #ff7d0a;
}

.G-bg-999 {
    background-color: #999;
}

.G-bg-white {
    background-color: #fff;
}

.G-bg-f6 {
    background-color: #f6f6f6;
}

.G-bg-ec {
    background-color: #ececec;
}

.G-bg-grey {
    background-color: grey !important;
}