    .G-Re{
      position: relative
    }
    
    .G-fx {
      display: flex;
      flex-wrap: wrap;
    }

    .G-fx-cc {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .G-fx-sc {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .G-fx-sb {
      display: flex;
      justify-content: space-between;
    }

    .G-fx-cb {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .G-fx-column {
      flex-direction: column;
    }

    .G-fx-con {
      max-width: 750px;
      margin: 0 auto;
    }
    .G-Ml-8 {
      margin-left: .08rem;
    }
    .G-Mb-8 {
      margin-bottom: .08rem;
    }
    .G-Mb-7 {
      margin-bottom: .07rem;
    }
    .G-Mt-7 {
      margin-top: .07rem;
    }
    .G-Mt-10 {
      margin-top: .1rem;
    }

    .G-Mt-20 {
      margin-top: .2rem;
    }

    .G-Mt-30 {
      margin-top: .3rem;
    }

    .G-Mt-15 {
      margin-top: .15rem;
    }

    .G-Mt-44 {
      margin-top: 44px;
    }

    .G-Mb-20 {
      margin-bottom: .2rem;
    }

    .G-Mb-5 {
      margin-bottom: .05rem;
    }
    .G-Mr-5 {
      margin-right: .05rem;
    }
    .G-Ml-5 {
      margin-left: .05rem;
    }
    .G-Mb-10 {
      margin-bottom: .1rem !important;
    }
    .G-Ml-10 {
      margin-left: .1rem;
    }
    .G-Mb-15 {
      margin-bottom: .15rem;
    }

    .G-Mt-35 {
      margin-bottom: .35rem;
    }

    .G-Mt-40 {
      margin-bottom: .4rem;
    }

    .G-Mr-10 {
      margin-right: .1rem;
    }

    .G-Mr-20 {
      margin-right: .2rem;
    }

    .G-Mr-5 {
      margin-right: .05rem;
    }
    .G-Mr-8 {
      margin-right: .08rem;
    }
    .G-Mr-15 {
      margin-right: .15rem;
    }
    .G-Plr-5 {
      padding-left: .05rem;
      padding-right: .05rem;
  }
  
  .G-Plr-10 {
      padding-left: .1rem;
      padding-right: .1rem;
  }
  
  .G-Plr-15 {
      padding-left: .15rem !important;
      padding-right: .15rem !important;
  }
  
  .G-Plr-20 {
      padding-left: .2rem;
      padding-right: .2rem;
  }
  
  .G-Plr-30 {
      padding-left: .3rem;
      padding-right: .3rem;
  }
  
  .G-Ptb-30 {
      padding-top: .3rem !important;
      padding-bottom: .3rem !important;
  }
  
  .G-Ptb-44 {
      padding-top: 44px !important;
      padding-bottom: 44px !important;
  }
  
  .G-Pt-50 {
      padding-top: .5rem !important;
  }
  
  .G-Plr-0 {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
  
  .G-Ptb-0 {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
  }
  
  .G-Ptb-10 {
      padding-top: .1rem !important;
      padding-bottom: .1rem !important;
  }
  
  .G-Ptb-15 {
      padding-top: .15rem !important;
      padding-bottom: .15rem !important;
  }
  
  .G-Ptb-25 {
      padding-top: .25rem !important;
      padding-bottom: .25rem !important;
  }
  